body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, div {
  font-weight: 300;
}

.center {
  margin: auto;
  width: 95%;
}

.sidenav {
  height: 100%;
  width: 14rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #354052;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.3s;
  transition-timing-function: ease-in;
}

.logo {
  padding: 6px 8px 6px 16px;
  color: #ffffff;
  font-weight: 600;
  display: block;
  font-size: 1.2rem;
}

.header{
  cursor: pointer;
}

.header img {
  float: left;
  width: 2rem;
  height: 2rem;
  margin-left: 16px;
  margin-right: 8px;
}

.links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: .875rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  transition-timing-function: ease-in;
}

.links a:hover {
  background-color: #2b3443;
}

.accordion {
  background-color: #354052;
  color: #ffffff;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-weight: 300;
  font-size: .875rem;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .accordion:hover, .panel a:hover {
  background-color: #2b3443;
}

.accordion:after {
  content: '\002B';
  color: #ffffff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  padding-right: 8px;
}

.active:after {
  content: "\2212";
}

.accordion:focus {outline:0 !important;}

.panel {
  background-color: #354052;
  max-height: 0;
  overflow: hidden;
}

.panel a {
  color: white;
  padding-left: 32px;
  font-size: .750rem;
}

.sidebar-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 14rem;
   background-color: #2b3443;
   color: white;
   text-align: center;
}

.sidebar-footer p {
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .3rem;
  margin: 0;
}

.main {
  margin-left: 14rem;
  transition: 0.3s;
  transition-timing-function: ease-in;
}

.welcome {
  margin-left: 2.5%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.desc {
  margin-left: 2.5%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.navbar {
  background-color: #ffffff !important;
}

.navbar-brand {
  font-size: 16px;
}

.form-inline .form-control {
  width: auto;
}

.form-inline img {
  height: 32px;
  width: 32px;
  margin-right: 1rem;
}

.form-inline button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.form-inline button:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.form-control {
  border: none;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.card {
  border: none;
}

.col-sm-4 {
  padding: 2px;
}

.new_row {
  margin-bottom: 1.5rem;
}

.btn {
  background-color: #495872;
  border-color: #354053;
}

.btn:hover {
  cursor: pointer;
  background-color: #354053;
  border-color: #2b3443;
}

.btn:focus {
  cursor: pointer;
  background-color: #354053;
  border-color: #2b3443;
  box-shadow: none;
}

.btn:active {
  cursor: pointer;
  background-color: #354053 !important;
  border-color: #2b3443 !important;
  box-shadow: none !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 1rem;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.code {
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 0rem;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .welcome {
    text-align: center;
  }

  .col-sm-4 {
    padding-left: 10px; padding-right: 10px;
  }

  .sidebar-footer {
    display: none;
  }

  .sidenav {
    width: 50%;
  }

  .main {
    margin-left: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .form-inline .form-control {
    display: none;
  }
}
